
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body
{
background-position: center;
background-size: cover;
}

canvas
{
    box-shadow: 10px 10px 10px rgb(255, 0, 0);
border-radius: 10px ;

}